@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background-color: #BF4342;
    display: flex;
    color: #fff;
    text-decoration: none;
    justify-content: space-between;
}

.head-container{
    height: 150px;
    background-color: #BF4342;
    text-align: center;
    padding-top: 40px;
    color: #fff;
}

.form-container{
    background-color: #FFF3E4; 
    display: flex; 
    flex-direction: column; 
    width: fit-content;
    margin: 30px 43.5% 30px;
    padding: 20px; 
    border-radius: 10px;
}

.row-form-container{
    background-color: #FFF3E4; 
    display: flex; 
    flex-direction: column; 
    width: fit-content;
    gap: 10px;
    margin: 30px 20px 30px;
    padding: 20px; 
    border-radius: 10px;
}

.triple-form-container{
    background-color: #FFF3E4; 
    display: flex; 
    flex-direction: column; 
    width: 500px;
    gap: 10px;
    margin: 30px 20px 30px;
    padding: 20px; 
    border-radius: 10px;
}

.btn-style{
    text-decoration: none; 
    color: #BF4342; 
    background-color: #fff; 
    padding: 5px; 
    border-radius: 10px; 
    border: solid black; 
    cursor: pointer; 
    font-weight: bold;
}

.success-msg{
    display: flex; 
    flex-direction: column; 
    align-items: center;
    text-align: center;
}

.error-box{
    background-color: #FFF3E4; 
    display: flex; 
    gap: 30px;
    flex-direction: column; 
    width: 400px;
    margin: 30px 36% 30px;
    padding: 20px; 
    border-radius: 10px;
}

.input-style{
    background-color: white;
    border-radius: 5px;
    width: 100%;
    border: 2px solid #000;
}


